# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.lock
*.tmp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.packages
.pub/
.pub-cache/
build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
android/.gradle/
android/captures/
android/local.properties
android/app/build/
android/app/debug/
android/app/profile/
android/app/release/

# iOS related
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/build/

# Xcode
xcuserdata/
DerivedData/

# Web
web/manifest.json

# Windows/Linux/macOS build
windows/build/
windows/Flutter/ephemeral/
linux/build/
macos/build/
pubspec.lock
